.home-main-div {
  min-height: 136vh;
  font-family: HK Grotesk;
  background-color: #000000;
}
.home-upper-div {
  height: 30vh;
  background-size: cover;
}
.home-head {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 80px;
}
.home-para {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 80px;
}
.home-play {
  font-size: 12px;
  font-weight: 600px;
  color: #171f46;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  margin-left: 80px;
  padding: 8px, 24px, 8px, 24px;
  border: none;
}
.home-success-para {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 30px;
}
.list-items {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.list-item {
  outline: none;
}
.li-img {
  height: 120px;
  width: 200px;
  margin-left: 40px;
  border-radius: 8px;
}
.slick-next:before {
  color: #ffffff;
}
.slick-next:after {
  color: #ffffff;
}
.home-bottom-div {
  background-color: #000000;
  padding-left: 60px;
  padding-right: 60px;
}
.footer-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.failure-para {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.retry-button {
  font-size: 10px;
  font-weight: 600px;
  color: #171f46;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  margin-left: 80px;
  padding: 8px, 24px, 8px, 24px;
  border: none;
}
