.home-main-div {
  min-height: 210vh;
  font-family: HK Grotesk;
  background-color: #000000;
  background-size: cover;
  min-width: 100vw;
}
.home-upper-div {
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
}
.home-head {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 80px;
  padding-top: 50px;
}
.home-para {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 80px;
  width: 50%;
}
.home-play {
  font-size: 12px;
  font-weight: 600px;
  color: #171f46;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  margin-left: 80px;
  padding: 8px, 24px, 8px, 24px;
  border: none;
  margin-top: 20px;
}
.home-success-para {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-left: 30px;
}
.list-items {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.list-item {
  margin-right: 20px;
}
.li-img {
  height: 150px;
  width: 250px;
  border-radius: 8px;
}

.home-bottom-div {
  background-color: #000000;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 100vh;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.failure-para {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.retry-button {
  font-size: 10px;
  font-weight: 600px;
  color: #171f46;
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  margin-left: 80px;
  padding: 8px, 24px, 8px, 24px;
  border: none;
}
.original-div {
  margin-bottom: 100px;
}
.top-rated-list {
  list-style-type: none;
  display: flex;
}
