.icons-div {
  display: flex;
}
.icon-button {
  background-color: transparent;
  border: none;
}
.contact-us {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}
.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-icon {
  margin: 10px;
  color: white;
}
